In [1]:
import sqlite3 
import pandas as pd

In [2]:
# Conexi√≥n
con = sqlite3.connect("mydb.db") # si la base de datos no existe, SQL3 la crea.

In [3]:
con.execute('''CREATE TABLE person(id INT PRIMARY KEY NOT NULL, first_name VARCHAR(30) NOT NULL, last_name VARCHAR(50) NOT NULL, age INT)''' )

In [9]:
con.execute('''INSERT INTO person VALUES (1,"Dina","Perez",50) ''')
con.execute('''INSERT INTO person VALUES (2,"Juan","Sanchez",40) ''')
con.execute('''INSERT INTO person VALUES (3,"Ana","Lopez",25) ''')

IntegrityError: UNIQUE constraint failed: person.id

In [5]:
# Commit para asegurarnos de los cambios
con.commit()

In [10]:
# Para poder ver registro por registro teno que crear un "cursor"
cursor = con.execute(''' SELECT * FROM person  ''')
for row in cursor: 
    print(f'{row[0]} {row[1]} {row[2]}')

1 Dina Perez
2 Juan Sanchez
3 Ana Lopez

In [12]:
# Para actualizar un registro
con.execute('''UPDATE person SET age = 48 WHERE id=1''')
con.commit()
cursor = con.execute(''' SELECT * FROM person  ''')
for row in cursor: 
    print(f'{row[0]} {row[1]} {row[2]}')

1 Dina Perez
2 Juan Sanchez
3 Ana Lopez

In [14]:
con.execute('''DELETE FROM person WHERE id = 3''')
con.commit()
cursor = con.execute(''' SELECT * FROM person  ''')
for row in cursor: 
    print(f'{row[0]} {row[1]} {row[2]}')

1 Dina Perez
2 Juan Sanchez